

  h2 {margin:5px;}
  input[type=text] {margin:10px}
  input[type=button] {margin:10px}  
  .container {width: 20%; 
    float:left;
    clear: right;
    margin:10px; 
    border-radius: 5px;}
  .sortable { 
      list-style-type: none; 
    margin:0;
     padding:2px; min-height:30px;
      border-radius: 5px;}
.btn {
    color:black;
    float:right;
    margin:-10px;
}
.add-button{
    border:1px solid black;
    border-radius: 5px;
    width: 60px;
    height:30px;
    float:right;
    background-color: lightgrey;
    color:black;
    font-weight: bold;
}

#new_text{
    border-radius:5px;
    margin-left:13px;
    width:200px;
}
.card {
    font-size: 15px;
    margin:10px;
    padding:10px;
}

.save {
    margin:10px;
    width:150px;
    height:70px;
    float:right;
    border-radius: 10px;
    border:1px;
    background-color: rgb(12, 11, 11);
    color:white;
    font-weight: bold;
    font-size:20px;
    text-decoration: underline;
}

.save:hover{
    background-color: rgb(65, 62, 62);
   cursor:pointer;
}
  /* .card {
    background-color:white;
    border-radius:3px;
    height:80px;
}
   */